
@{
    ViewBag.Title = "ConfirmDoiMK";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="productszz" style="text-align:center;">
    <br />
    <h3>Yêu cầu của quý khách đã hoàn tất. Vui lòng kiểm tra email và làm theo hướng dẫn để hoàn tất xác nhận. Xin cảm ơn!</h3>
    <br />
    <br />
    <button class="zzbutton" style="width:200px;height:40px;font-size:15px">@Html.ActionLink("Trở về trang chủ", "Index", "Home")</button>
</div>
