<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div style="text-align:left;">
            <h1 style="text-align:center;color:white;background-color:black;font-size:40px;"><b>THÔNG BÁO VỀ QUÊN MẬT KHẨU</b></h1>

            <p>Chào quý khách, chúng tôi vừa nhận được về vấn đề quên mật khẩu của quý khách, xin vui lòng làm theo hướng dẫn để hoàn tất việc xác minh. Xin cảm ơn!</p>
            <h2 style="text-align:center; font-size:30px; color:black;">
                <b>THÔNG TIN VỀ KHÁCH HÀNG</b></h2style="text-align:center;">
                <pre style="font-size:15px; text-align:left;">
             Họ tên khách hàng: @ViewBag.HoTenKH
             Điện thoại: @ViewBag.SDT
                <b style="text-align:left;font-size:20px;"><a href="@ViewBag.LinkXacNhan">Nhấn vào đây để xác nhận và hoàn tất việc đổi mật khẩu</a></b>
                <b>Nếu đây không phải là bạn. Vui lòng bỏ qua mail này và vui lòng thông báo với bộ phận hỗ trợ khách hàng để được hướng dẫn xử lý.</b>
             </pre>

        </div>

    </div>
</body>
</html>
