<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div style="text-align:left;">
            <h1 style="text-align:center;color:white;background-color:black;font-size:40px;"><b>THÔNG BÁO VỀ MÃ BẢO MẬT</b></h1>

            <p>Chào quý khách, chúng tôi vừa nhận được về vấn đề quên mật khẩu của quý khách, sau đây là mã bảo mật để hoàn tất xác nhận!</p>
             Mã bảo mật: @ViewBag.MaBaoMat
             </pre>

        </div>

    </div>
</body>
</html>
