
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="productszz" style="text-align:center;">
    <br />
    <br />
    <p>HTTP @ViewBag.StatusCodeaD - @ViewBag.DisAd</p>
    <br />
    <h3>Trang mà bạn tìm kiếm không tồn tại. Vui lòng <p style="color:red;">@Html.ActionLink("Trở về trang chủ", "Index", "Admin")</p></h3>
    <br />
    <br />
    <br />
    <br />
</div>

